.a-class {
    background-color: #0A1F44;
     padding: 40px 20px;
    text-align: center;
}

.another-class {
    color: white;
    text-align: center;
}

.main-i {
    text-align: center;
}

.about-m {
    margin-top: 60;
    text-align: center;
}

.about-p {
    font-weight: 900;
    margin-top: 60px;
     line-height: 3;
}

.logo-img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px; /* adjust size as needed */
}
