.a-class {
    padding: 20px;
    background-color: #0A1F44;
}

.another-class {
    color: white;
    font-size: 32px;
    text-align: center;
}

.contact-m h1 {
    font-size: 28px;
    margin-top: 30px;
    text-align: center;
}