.color-bg {
  background-color: #E8A0BB;
}

.header-m {
  text-align: center;
  color: gold;
  background-color: #E8A0BB;
  font-size: 40px;
}

.para-m {
  text-align: center;
background-color: #E8A0BB;
padding-top: 20px;
}

.your-m {
  background-color: #E8A0BB;
  
}