.hero-section {
    background-color: #0A1F44;
    padding: 40px 20px;
    text-align: center;
}

.a-class {
    color: white;
    font-size: 14px;
    margin: 0;
}

.another-class {
    color: grey;
    text-align: center;
}

#img-a {
    width: 5;
    height: auto;
}
