.hero-section {
    background-color: #0A1F44;
    padding: 40px 20px;
    text-align: center;
}

.a-class {
    color: white;
    font-size: 14px;
    margin: 0;
}

.another-class {
    color: grey;
    text-align: center;
}



.small-image {
  width: 55px;  /* increased size */
  height: auto;
  border-radius: 8px;
}



.image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.small-image {
  width: 220px;  /* increased size */
  height: auto;
  border-radius: 8px;
}

.Fullsuit-con {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.Full-suits {
  width: 220px;  /* increased size */
  height: auto;
  border-radius: 8px;
}

.trending-now {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.Trending {
  width: 220px;  /* increased size */
  height: auto;
  border-radius:  8px;
}

.shop-con {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.shop-now {
  width:   150px;  /* increased size */
  height: auto;
  border-radius:  8px;
}